# Web Scraping Assignment 4

In [1]:
# import debugger
import re

# selenium
import selenium
import pandas as pd
from selenium import webdriver

# Beautiful soup
from bs4 import BeautifulSoup
import requests

# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_13076/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
# getting the webpage of mentioned url
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
# creating empty list for scraping the data

Rank = []
Name = []
Artist = []
Date = []
Views = []

In [6]:
# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")
        
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.40
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.98
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.47
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.81
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.64
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",5.63
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.90
7,8.,Uptown Funk,Mark Ronson,"November 19, 2014",4.70
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.65
9,10.,Gangnam Style,Psy,"July 15, 2012",4.55
10,11.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.51
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",4.40
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.07
13,14.,Sugar,Maroon 5,"January 14, 2015",3.76
14,15.,Roar,Katy Perry,"September 5, 2013",3.66
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.65
16,17.,Sorry,Justin Bieber,"October 22, 2015",3.59
17,18.,Axel F,Crazy Frog,"June 16, 2009",3.52
18,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.50
19,20.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.38
20,21.,Dark Horse,Katy Perry,"February 20, 2014",3.35
21,22.,Faded,Alan Walker,"December 3, 2015",3.34
22,23.,Girls Like You,Maroon 5,"May 31, 2018",3.33
23,24.,Let Her Go,Passenger,"July 25, 2012",3.30
24,25.,Bailando,Enrique Iglesias,"April 11, 2014",3.27
25,26.,Lean On,Major Lazer,"March 22, 2015",3.26
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.26
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.25
28,29.,Shake It Off,Taylor Swift,"August 18, 2014",3.21
29,30.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.17

In [9]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [4]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_11920/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
url = "https://www.bcci.tv/"
driver.get(url)

In [6]:
in_btn=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
in_btn.click()

In [7]:
fix_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/ul/li[1]/a')
fix_btn.click()

In [22]:
# creating empty lists for scraping the data
Match_title = []
Place = []
Date = []
Time = []

In [23]:
title=driver.find_elements(By.XPATH,'//div[@class="fixture-card-top"]')
for j in title:
    Match_title.append(j.text)
Match_title

['ASIA CUP WOMENS 2022\n3 OCT 2022\n1:00 PM IST',
 'ASIA CUP WOMENS 2022\n4 OCT 2022\n1:00 PM IST',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23\n4 OCT 2022\n7:00 PM IST',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23\n6 OCT 2022\n1:30 PM IST',
 'ASIA CUP WOMENS 2022\n7 OCT 2022\n1:00 PM IST',
 'ASIA CUP WOMENS 2022\n8 OCT 2022\n1:00 PM IST',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23\n9 OCT 2022\n1:30 PM IST',
 'ASIA CUP WOMENS 2022\n10 OCT 2022\n1:00 PM IST']

In [25]:
place=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for k in place:
    Place.append(k.text)
Place

['Sylhet Outer Cricket Stadium,',
 'Sylhet Outer Cricket Stadium,',
 'Holkar Cricket Stadium,',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'JSCA International Stadium Complex,',
 'Sylhet International Cricket Stadium,']

In [26]:
date=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')

for l in date:
    Date.append(l.text)
Date

['3 OCT 2022',
 '4 OCT 2022',
 '4 OCT 2022',
 '6 OCT 2022',
 '7 OCT 2022',
 '8 OCT 2022',
 '9 OCT 2022',
 '10 OCT 2022']

In [27]:
 time=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
for n in time:
    Time.append(n.text)
Time

['1:00 PM IST',
 '1:00 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '1:30 PM IST',
 '1:00 PM IST']

In [32]:
# creating data frame
fixture=pd.DataFrame({'Match Title': Match_title,
                           "Place": Place,
                           "Date": date,
                           "Time": Time})
fixture

,Match Title,Place,Date,Time
0,ASIA CUP WOMENS 2022\n3 OCT 2022\n1:00 PM IST,"Sylhet Outer Cricket Stadium,",<selenium.webdriver.remote.webelement.WebEleme...,1:00 PM IST
1,ASIA CUP WOMENS 2022\n4 OCT 2022\n1:00 PM IST,"Sylhet Outer Cricket Stadium,",<selenium.webdriver.remote.webelement.WebEleme...,1:00 PM IST
2,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23\...,"Holkar Cricket Stadium,",<selenium.webdriver.remote.webelement.WebEleme...,7:00 PM IST
3,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23\...,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,<selenium.webdriver.remote.webelement.WebEleme...,1:30 PM IST
4,ASIA CUP WOMENS 2022\n7 OCT 2022\n1:00 PM IST,"Sylhet International Cricket Stadium,",<selenium.webdriver.remote.webelement.WebEleme...,1:00 PM IST
5,ASIA CUP WOMENS 2022\n8 OCT 2022\n1:00 PM IST,"Sylhet International Cricket Stadium,",<selenium.webdriver.remote.webelement.WebEleme...,1:00 PM IST
6,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23\...,"JSCA International Stadium Complex,",<selenium.webdriver.remote.webelement.WebEleme...,1:30 PM IST
7,ASIA CUP WOMENS 2022\n10 OCT 2022\n1:00 PM IST,"Sylhet International Cricket Stadium,",<selenium.webdriver.remote.webelement.WebEleme...,1:00 PM IST

In [33]:
driver.close()

3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [59]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_11920/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [60]:
# getting the webpage of mentioned url
url = ("https://www.guru99.com/")
driver.get(url)

In [61]:
# finding element for job search bar
search_b = driver.find_elements(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')
search_b

In [65]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')
designation.send_keys('selenium exception handling')

In [66]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')
search.click()

In [67]:
find_e=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
find_e.click()

In [68]:
# creating empty list 
name=[]
description=[]

In [84]:
# scraping Name
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]"):
    Name.append(i.text)
    
# scraping Description
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]"):
    Description.append(i.text)

    
# creating the dataframe from the scraped data
Selenium = pd.DataFrame({})
Selenium['Exception_Name'] = Name
Selenium['Description'] = Description
Selenium

Empty DataFrame
Columns: [Exception_Name, Description]
Index: []

In [85]:
driver.close()

-4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(19-20
E) Share(2018-19

In [86]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_11920/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [87]:
# getting the webpage of mentioned url
url = ("https://statisticstimes.com/")
driver.get(url)

In [92]:
# clicking on Economy button
driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button").click()

# clicking on India
driver.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]").click()

# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()

In [93]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []

In [95]:
# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [97]:
# scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [98]:
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [99]:
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [100]:
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [101]:
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share

In [102]:
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19)
0,1,Maharashtra,-,"2,632,792",13.94%
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%
3,4,Gujarat,-,"1,502,899",7.96%
4,5,Karnataka,"1,631,977","1,493,127",7.91%
...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%
62,30,Nagaland,-,"24,534",0.15%
63,31,Arunachal Pradesh,-,"22,488",0.13%
64,32,Mizoram,"24,424","20,947",0.13%
65,33,Andaman & Nicobar Islands,-,-,-

5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [103]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_11920/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [104]:
# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)

In [108]:
# getting explore button and clicking on it
explore = driver.find_element(By.XPATH,'/html/body/div[1]/header/div[3]/nav/a[5]').click()

In [111]:
# selecting trending option
trend_url = driver.find_element(By.XPATH,'/html/body/div[5]/main/div[1]/nav/div/a[3]')
urls = trend_url.get_attribute("href")
driver.get(urls)

In [112]:
# creating empty list
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

In [113]:

# fetching urls for each repository
repository = driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

In [114]:
# scraping Repository title data
title = driver.find_elements(By.XPATH,"//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)

In [171]:
# scraping data from all repository page
for i in URLs:
    driver.get(i)
   
    
    # scraping Repository Description data 
    try:
        desc = driver.find_elements(By.XPATH,"//p[@class='f4 mt-3']")
        for i in  desc:
            Description.append(i.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    # scraping Contributors Count data
    try:
        contributor = driver.find_element(By.XPATH,"//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    
    # scraping Languages used data
    try:
        for i in driver.find_elements(By.XPATH,"//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')

In [177]:
# Data Framing
Github = pd.DataFrame({})
Github['Repository Title'] = repository_title
Github['Contributors Count'] = Contributors
Github['Language Used'] = Language
Github

,Repository Title,Contributors Count,Language Used
0,lkwq007 / stablediffusion-infinity,3,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
1,total-typescript / beginners-typescript-tutorial,12,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
2,firstcontributions / first-contributions,"3,514","[Python, HTML, JavaScript, Jupyter Notebook, S..."
3,TheAlgorithms / C-Plus-Plus,280,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
4,github / docs,"1,456","[Python, HTML, JavaScript, Jupyter Notebook, S..."
5,bitcoin / bips,320,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
6,ToolJet / ToolJet,214,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
7,TheAlgorithms / Python,842,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
8,kamranahmedse / developer-roadmap,308,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
9,HavocFramework / Havoc,6,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
10,tldr-pages / tldr,"1,828","[Python, HTML, JavaScript, Jupyter Notebook, S..."
11,GoVanguard / Getting-into-InfoSec-and-Cybersec...,5,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
12,turbot / steampipe,25,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
13,developedbyed / react-portofolio-with-tailwind,-,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
14,build-trust / ockam,110,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
15,novuhq / novu,106,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
16,AUTOMATIC1111 / stable-diffusion-webui,89,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
17,freeCodeCamp / freeCodeCamp,"4,549","[Python, HTML, JavaScript, Jupyter Notebook, S..."
18,duckdb / duckdb,152,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
19,SerenityOS / serenity,761,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
20,TryGhost / Ghost,413,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
21,shengcaishizhan / kkndme_tianya,-,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
22,danba340 / minecraft-freecodecamp,-,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
23,iced-rs / iced,125,"[Python, HTML, JavaScript, Jupyter Notebook, S..."
24,yuzu-emu / yuzu,220,"[Python, HTML, JavaScript, Jupyter Notebook, S..."

In [178]:
driver.close()

6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [2]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_13504/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
# getting the webpage of mentioned url
url = ("https://www.billboard.com/")
driver.get(url)

In [4]:
# clicking on option button
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [82]:
# creating empty lists
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [83]:
# scraping the song name
song_name = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max"]')                                                                                                                                                                                                                                                                 
for i in song_name[:99]:
    Song_Name.append(i.text)

In [84]:
Song_Name

['Bad Habit\nSteve Lacy',
 'I Like You (A Happier Song)\nPost Malone Featuring Doja Cat',
 'Sunroof\nNicky Youre & dazy',
 'Super Freaky Girl\nNicki Minaj',
 'You Proof\nMorgan Wallen',
 "I Ain't Worried\nOneRepublic",
 'The Kind Of Love We Make\nLuke Combs',
 'About Damn Time\nLizzo',
 'Wait For U\nFuture Featuring Drake & Tems',
 'Late Night Talking\nHarry Styles',
 'Me Porto Bonito\nBad Bunny & Chencho Corleone',
 'Titi Me Pregunto\nBad Bunny',
 'Vegas\nDoja Cat',
 'Wasted On You\nMorgan Wallen',
 'She Had Me At Heads Carolina\nCole Swindell',
 'Heat Waves\nGlass Animals',
 'Jimmy Cooks\nDrake Featuring 21 Savage',
 'Running Up That Hill (A Deal With God)\nKate Bush',
 'First Class\nJack Harlow',
 'Something In The Orange\nZach Bryan',
 '5 Foot 9\nTyler Hubbard',
 'Stay\nThe Kid LAROI & Justin Bieber',
 "I'm Good (Blue)\nDavid Guetta & Bebe Rexha",
 'Shut Down\nBLACKPINK',
 'Break My Soul\nBeyonce',
 'Glimpse Of Us\nJoji',
 'Hold Me Closer\nElton John & Britney Spears',
 'Under The Influence\nChris Brown',
 'Thank God\nKane Brown With Katelyn Brown',
 'Moscow Mule\nBad Bunny',
 'Fall In Love\nBailey Zimmerman',
 'Betty (Get Money)\nYung Gravy',
 'Romantic Homicide\nd4vd',
 'In A Minute\nLil Baby',
 'Ghost\nJustin Bieber',
 'Rock And A Hard Place\nBailey Zimmerman',
 'Unstoppable\nSia',
 'Son Of A Sinner\nJelly Roll',
 'Big Energy\nLatto',
 'Last Night Lonely\nJon Pardi',
 'Staying Alive\nDJ Khaled Featuring Drake & Lil Baby',
 "F.N.F. (Let's Go)\nHitkidd & GloRilla",
 'Left And Right\nCharlie Puth Featuring Jung Kook',
 'Numb\nMarshmello & Khalid',
 'Die For You\nThe Weeknd',
 'Efecto\nBad Bunny',
 'Victoria’s Secret\nJax',
 'Bones\nImagine Dragons',
 'Whiskey On You\nNate Smith',
 'Last Last\nBurna Boy',
 'Free Mind\nTems',
 'So Good\nHalsey',
 'Wishful Drinking\nIngrid Andress With Sam Hunt',
 'Sleazy Flow\nSleazyWorld Go Featuring Lil Baby',
 'Golden Hour\nJVKE',
 'Pink Venom\nBLACKPINK',
 'Gatubela\nKarol G x Maldy',
 'Until I Found You\nStephen Sanchez',
 "Don't Come Lookin'\nJackson Dean",
 'Cuff It\nBeyonce',
 'Evergreen\nOmar Apollo',
 'Put It On Me\nYoungBoy Never Broke Again',
 'Truth About You\nMitchell Tenpenny',
 'Despecha\nRosalia',
 'Dah Dah DahDah\nNardo Wick',
 'Party\nBad Bunny & Rauw Alejandro',
 '2 Be Loved (Am I Ready)\nLizzo',
 'Billie Eilish.\nArmani White',
 'Ojitos Lindos\nBad Bunny & Bomba Estereo',
 'Freestyle\nLil Baby',
 'All Mine\nBrent Faiyaz',
 'What My World Spins Around\nJordan Davis',
 'Neverita\nBad Bunny',
 'Half Of Me\nThomas Rhett Featuring Riley Green',
 'She Likes It\nRussell Dickerson & Jake Scott',
 'Talk\nYeat',
 'Ghost Story\nCarrie Underwood',
 'Music For A Sushi Restaurant\nHarry Styles',
 'Wait In The Truck\nHARDY Featuring Lainey Wilson',
 'Despues de La Playa\nBad Bunny',
 'Static\nSteve Lacy',
 'Like I Love Country Music\nKane Brown',
 'Detox\nLil Baby',
 'La Bachata\nManuel Turizo',
 'With A Woman You Love\nJustin Moore',
 'Country On\nLuke Bryan',
 'Calm Down\nRema & Selena Gomez',
 'Tarot\nBad Bunny & Jhay Cortez',
 'Pick Me Up\nGabby Barrett',
 'Hell Yeah\nLittle Big Town',
 'Wild As Her\nCorey Kent',
 'Love In The Way\nBLEU & Nicki Minaj',
 'Hot Shit\nCardi B, Ye & Lil Durk',
 'Dark Red\nSteve Lacy',
 'Thought You Should Know\nMorgan Wallen',
 'Where It Ends\nBailey Zimmerman',
 'Backstage Passes\nEST Gee Featuring Jack Harlow',
 'Snap\nRosa Linn',
 'Beat The Odds\nLil Tjay']

In [85]:
len(Song_Name)

99

In [69]:
Artist_Name=[]

In [86]:
# scraping the artist name
artist_Name = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_Name:
    Artist_Name.append(i.text)

In [87]:
len(Artist_Name)

99

In [26]:
Last_week_rank = []

In [88]:
# scraping the last week rank
lw_r = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
for i in lw_r[:99]:
    Last_week_rank.append(i.text)

In [89]:
len(Last_week_rank)

99

In [90]:
# scraping the peak rank
peak_r = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
for i in peak_r[:99]:
    Peak_rank.append(i.text)

In [91]:
len(Peak_rank)

99

In [92]:
# scraping the peak rank
w_o_b = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in w_o_b[:99]:
    Weeks_on_board.append(i.text)

In [93]:
len(Weeks_on_board)

99

In [94]:
# creating dataframe for scraped data
billiboard = pd.DataFrame({})
billiboard['Name'] = Song_Name
billiboard['Artist'] = Artist_Name
billiboard['Last Week Rank'] = Last_week_rank
billiboard['Peak Rank'] = Peak_rank
billiboard['Weeks on board'] = Weeks_on_board
billiboard

,Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,Bad Habit\nSteve Lacy,Steve Lacy,,,
1,I Like You (A Happier Song)\nPost Malone Featu...,Post Malone Featuring Doja Cat,1,1,
2,Sunroof\nNicky Youre & dazy,Nicky Youre & dazy,,,
3,Super Freaky Girl\nNicki Minaj,Nicki Minaj,2,2,2
4,You Proof\nMorgan Wallen,Morgan Wallen,,,2
...,...,...,...,...,...
94,Thought You Should Know\nMorgan Wallen,Morgan Wallen,,,1
95,Where It Ends\nBailey Zimmerman,Bailey Zimmerman,48,48,88
96,Backstage Passes\nEST Gee Featuring Jack Harlow,EST Gee Featuring Jack Harlow,,,
97,Snap\nRosa Linn,Rosa Linn,47,47,
98,Beat The Odds\nLil Tjay,Lil Tjay,,,

7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [95]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_13504/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [97]:
# getting the webpage of mentioned url
url = ("https://www.naukri.com/data-science-recruiters")
driver.get(url)

In [98]:
# creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [100]:
# scraping data of Names
for i in driver.find_elements(By.XPATH,"//span[@class='fl ellipsis']"):
    Name.append(i.text)

In [102]:
# scraping data of Designation
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']"):
    Designation.append(i.text)

In [103]:
# scraping data of Company Name
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)

In [104]:
# scraping data of Skills
for i in driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')

In [105]:
# scraping data of Location
for i in driver.find_elements(By.XPATH,"//div[@class='vcard']//p[1]/span/small"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Location.append(i.text)
    except NoSuchElementException:
        Location.append('-')

In [108]:
# creating dataframe for scraped data
Naukri = pd.DataFrame({})
Naukri['Name'] = Name[:49]
Naukri['Designation'] = Designation[:49]
Naukri['Company'] = Company[:49]
Naukri['Skills'] = Skills[:49]
Naukri

,Name,Designation,Company,Skills
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
15,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics"
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S..."
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."

In [109]:
driver.close()

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [110]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_13504/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [111]:
# getting the webpage of mentioned url
url = ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.get(url)

In [112]:
# creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [113]:
# scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

In [115]:
# scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')

In [116]:
# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)

In [117]:
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)

In [118]:
# scraping  data of genre
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [119]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [120]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [121]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_13504/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [122]:
# getting the webpage of mentioned url
url = ("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [123]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [124]:
# scraped data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

In [126]:
# scraped data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

In [127]:
# scraped data of Genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
    
# scraped data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
    
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

In [128]:
# scraped data of Votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [129]:
# creating dataframe for scraped data
TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Genre'] = Genre
TV_Series['Run Time'] = Run_time
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,060,933"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,154,600"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"972,146"
3,13 Reasons Why,(2017– ),"Drama, Mystery, Thriller",60 min,7.5,"289,859"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,295"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,684"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,737"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,483"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,146"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,069"

In [130]:
driver.close()

10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [131]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\PRAVEE~1\AppData\Local\Temp/ipykernel_13504/3494814975.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [132]:
# getting the webpage of mentioned url
url = (" https://archive.ics.uci.edu/")
driver.get(url)

In [133]:
# fetching view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [135]:
# fetching page urls of all datasets
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")
list_url = view_list.get_attribute("href")
driver.get(list_url)

In [136]:
# fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [137]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [ ]:
for i in urls:
    driver.get(i)

In [ ]:
 # scraping  Dataset name
    try:
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')

In [ ]:
# scraping data type
    try:
        data_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')

In [ ]:
# scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')

In [ ]:
# scraping Attribute type
    try:
        attribute_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')

In [ ]:
 # scraping No of Instances
    try:
        instances = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')

In [ ]:
# scraping No of Arrtibutes
    try:
        attribute = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')

In [ ]:
# scraping Year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [ ]:
# creating dataframe for scraped data
ML = pd.DataFrame({})
ML['Data Name'] = Data_name 
ML['Data Type '] = Data_type
ML['Task '] = Task 
ML['Attribute Type '] = Attribute_type 
ML['No of Instance '] = No_of_instances
ML['No of Attributes '] = No_of_attributes 
ML['Year '] = Year 
ML

In [ ]:
driver.close()