In [ ]:
# 1) python program to scrape data for “Data Analyst” Job position in “Bangalore” location, job-title, 
 job-location, company_name, experience_required using naukri.com

In [ ]:
# let's first install the selenium library
! pip install selenium

In [78]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.by import By
import time

In [79]:
!pip3 install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\anaconda\lib\site-packages (3.8.3)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from webdriver-manager) (4.62.3)
Requirement already satisfied: requests in c:\anaconda\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: python-dotenv in c:\anaconda\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)

In [5]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in  title_tags[0:10]:
 title = i.text
 job_title.append(title)

In [11]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in  location_tags[0:10]:
 location = i.text
 job_location.append(location)

In [12]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in  company_tags[0:10]:
 company = i.text
 company_name.append(company)

In [13]:
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in  exp_tags[0:10]:
 exp= i.text
 experience_required.append(exp)

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
df=pd.DataFrame({})
df['job_title']=job_title[:10]
df['company_name']=company_name[:10]
df['experience_required']=experience_required[:10]
df['job_location']=job_location[:10]

In [16]:
df

,job_title,company_name,experience_required,job_location
0,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
2,Programmer / Data Analyst,Frost & Sullivan,3-7 Yrs,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
3,HCL hiring For Data Analyst,HCL Technologies,3-8 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
4,Market Data Senior Analyst,Allegis Services India Pvt. Ltd.,2-5 Yrs,Bangalore/Bengaluru
5,Data Analyst - Java/Python,Career Infosystem,4-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
6,Data Analyst - SQL/ Database Maintenance,Career Infosystem,5-8 Yrs,Bangalore/Bengaluru
7,Lead Data Analyst - US MNC (analytics),Aspyra HR Services,5-10 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du..."
8,Data analyst / Data analytics -- US MNC (analy...,Aspyra HR Services,3-8 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du..."
9,Data Analyst - Ops,Pylon Management Consulting Pvt Ltd,2-5 Yrs,Bangalore/Bengaluru

In [17]:
#to fetch the URL
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="14425ad275234149d0684af6a25d9bf9", element="bed1386a-ef02-40db-b8db-276ba99d3fa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14425ad275234149d0684af6a25d9bf9", element="dd681df5-4d17-424e-9201-de4198da7bfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14425ad275234149d0684af6a25d9bf9", element="2bbb0615-00d0-47cc-ad05-5399699f6b92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="14425ad275234149d0684af6a25d9bf9", element="bd5bc887-912d-4eb5-b95f-3c86a9411ee3")>]

In [18]:
for i in url[0:4]:
 print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-python-artificial-intelligence-imindyourbusiness-kolkata-mumbai-hyderabad-secunderabad-lucknow-chennai-ahmedabad-bangalore-bengaluru-delhi-ncr-0-to-2-years-080922903962
https://www.naukri.com/job-listings-contractual-hiring-for-top-mnc-business-data-analyst-bangalore-teamlease-servcies-limited-bangalore-bengaluru-5-to-8-years-030622001010
https://www.naukri.com/job-listings-programmer-data-analyst-frost-and-sullivan-india-private-limited-kolkata-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-karnataka-tamil-nadu-3-to-7-years-090922001343
https://www.naukri.com/job-listings-hcl-hiring-for-data-analyst-hcl-technologies-limited-pune-chennai-bangalore-bengaluru-3-to-8-years-080922005378

In [19]:
job_titles=[]

In [20]:
start=0
end=2
for page in range(start,end):
 titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titles:
 job_titles.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
next_button.click()
time.sleep(3)

In [21]:
len(job_titles)

19

In [22]:
job_titles

['Data Analyst - Python/Artificial Intelligence',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Programmer / Data Analyst',
 'HCL hiring For Data Analyst',
 'Market Data Senior Analyst',
 'Data Analyst - Java/Python',
 'Data Analyst - SQL/ Database Maintenance',
 'Lead Data Analyst - US MNC (analytics)',
 'Data analyst / Data analytics -- US MNC (analytics)',
 'Data Analyst - Ops',
 'Immediate opening For Data Analyst @ Bangalore',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Customer Data Analyst',
 'Sr. Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst - Risk Assessment | Cigna',
 'Data Analyst - Decision Science',
 'Data Analyst']

In [377]:
# 2)python program to scrape data for “Data Scientist” Job position in “Bangalore” location, job-title, job-location, company_name.

In [33]:
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com")

In [34]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [35]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [36]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in  title_tags[0:10]:
 title = i.text
 job_title.append(title)

In [39]:
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in  location_tags[0:10]:
 location = i.text
 job_location.append(location)

In [40]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in  company_tags[0:10]:
 company = i.text
 company_name.append(company)

In [41]:
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in  exp_tags[0:10]:
 exp= i.text
 experience_required.append(exp)

In [42]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [43]:
df=pd.DataFrame({})
df['job_title']=job_title[:10]
df['company_name']=company_name[:10]
df['experience_required']=experience_required[:10]
df['job_location']=job_location[:10]

In [44]:
df

,job_title,company_name,experience_required,job_location
0,Job Opportunity on Data Science_ Python with T...,Tech Mahindra,4-9 Yrs,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
1,Assistant Manager - Data Science,CitiusTech,5-9 Yrs,"Bangalore/Bengaluru, Mumbai, Pune"
2,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
3,Hiring For DATA Scientist @ NTT DATA Business ...,NTT DATA Business Solutions Private Limited,4-9 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
4,Data Scientist/AIML Engineer,upGrad,0-2 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
5,Data Science Consultant,ZS Associates India Pvt Ltd,3-8 Yrs,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram"
6,Data Scientist,GlobalLogic,8-10 Yrs,"Bangalore/Bengaluru, Noida, Nagpur"
7,Data Scientist,GlobalLogic,8-9 Yrs,Bangalore/Bengaluru
8,Lead ML Scientist,Fractal Analytics,6-10 Yrs,"Bangalore/Bengaluru, Mumbai"
9,Tcs Hiring For Data Scientist,TATA CONSULTANCY SERVICES (TCS),3-8 Yrs,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)"

In [45]:
#to fetch the URL
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="acc09f1163d2b2b8af4257987dcd390a", element="509246f9-734a-4810-8c53-2bb7e375b109")>,
 <selenium.webdriver.remote.webelement.WebElement (session="acc09f1163d2b2b8af4257987dcd390a", element="6aaa3177-2845-4e6a-ab58-a958d9776f84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="acc09f1163d2b2b8af4257987dcd390a", element="43b57302-3e91-4c4d-b651-8f8a62221938")>,
 <selenium.webdriver.remote.webelement.WebElement (session="acc09f1163d2b2b8af4257987dcd390a", element="e0b1a512-06e4-4b14-9e35-234b1514f7a9")>]

In [46]:
for i in url[0:4]:
 print(i.get_attribute('href'))

https://www.naukri.com/job-listings-opportunity-on-data-science-python-with-techmahindra-tech-mahindra-ltd-kolkata-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-mumbai-all-areas-4-to-9-years-050922007987
https://www.naukri.com/job-listings-assistant-manager-data-science-citiustech-healthcare-technology-pvt-ltd-mumbai-pune-bangalore-bengaluru-5-to-9-years-010822004921
https://www.naukri.com/job-listings-analystics-modeling-specialist-accenture-solutions-pvt-ltd-kolkata-mumbai-hyderabad-secunderabad-pune-chennai-bangalore-bengaluru-delhi-ncr-6-to-8-years-300822902414
https://www.naukri.com/job-listings-hiring-for-data-scientist-ntt-data-business-solution-india-ntt-data-business-solutions-private-limited-noida-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-mumbai-all-areas-4-to-9-years-200722003814

In [47]:
job_titles=[]

In [48]:
start=0
end=2
for page in range(start,end):
 titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in titles:
 job_titles.append(i.text)
next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]')
next_button.click()
time.sleep(3)

In [49]:
len(job_titles)

19

In [50]:
job_titles

['Job Opportunity on Data Science_ Python with Techmahindra',
 'Assistant Manager - Data Science',
 'Analystics & Modeling Specialist',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Data Scientist/AIML Engineer',
 'Data Science Consultant',
 'Data Scientist',
 'Data Scientist',
 'Lead ML Scientist',
 'Tcs Hiring For Data Scientist',
 'Data Scientist - II',
 'Data Scientist - A.P. Maersk',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Principal Data Scientist']

In [378]:
# 3)phython program to scrape data using the filters available on the webpage

In [91]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.naukri.com")

In [92]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [93]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p")
location.click()

In [95]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p")
salary.click()

In [132]:
job_title=[]
job_location=[]
company_name=[]
Salary_exp=[]

In [133]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
 title = i.text
 job_title.append(title)

In [134]:
location_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p")
for i in location_tags[0:10]:
 location = i.text
 job_location.append(location)

In [135]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
 company = i.text
 company_name.append(company)

In [136]:
salary_exp=driver.find_elements(By.XPATH,'//p[@class="grey-text lH20 fleft ml-8 txtLbl"]')
for i in  salary_exp[0:10]:
 exp= i.text
 Salary_exp.append(exp)

In [138]:
print(len(job_title),len(company_name),len(experience_required))

10 10 10

In [139]:
df=pd.DataFrame({})
df['job_title']=job_title[:10]
df['company_name']=company_name[:10]
df['Salary_exp']=Salary_exp[:10]

In [140]:
df

,job_title,company_name,Salary_exp
0,Data Scientist,GlobalLogic,Remote\n(1)
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,Delhi / NCR\n(21)
2,Data Scientist,Optum,Bangalore/Bengaluru\n(48)
3,Data Scientist / Chat-bot Developer,Big Seo Buzz,Chennai\n(15)
4,Lead Data Scientist,R Systems International,Data Scientist\n(21)
5,Data Scientist - Predictive Analytics,Confidential,Back End Developer\n(5413)
6,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,Business Development Manager (BDM)\n(2212)
7,Data Scientist - Engine Algorithm,Primo Hiring,Other\n(1803)
8,Data Scientist,Feedback Infra,3-6 Lakhs\n(21)
9,Data Scientist,4i Odc,6-10 Lakhs\n(81)

In [141]:
#to fetch the URL
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="af77d59c04a801a01eac21e93626af32", element="da3ac8ac-4061-439a-ae26-b66276d080b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af77d59c04a801a01eac21e93626af32", element="3caf56e3-022d-4d6d-bc07-9ba96a8a66d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af77d59c04a801a01eac21e93626af32", element="56ad3841-fe89-496d-97ef-c29ee5979533")>,
 <selenium.webdriver.remote.webelement.WebElement (session="af77d59c04a801a01eac21e93626af32", element="364161a8-b747-4a2a-9005-3ce19458baf5")>]

In [142]:
for i in url[0:4]:
 print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-scientist-globallogic-india-private-limited-noida-nagpur-bangalore-bengaluru-8-to-10-years-090922005067
https://www.naukri.com/job-listings-digitalbcg-gamma-data-scientist-boston-consulting-group-new-delhi-bangalore-bengaluru-2-to-5-years-040722500013
https://www.naukri.com/job-listings-data-scientist-optum-global-solutions-india-private-limited-gurgaon-gurugram-2-to-7-years-060922903456
https://www.naukri.com/job-listings-data-scientist-chat-bot-developer-big-seo-buzz-new-delhi-bangalore-bengaluru-mumbai-all-areas-3-to-7-years-250522010475

In [155]:
job_title

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Lead Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist For Healthcare Product team',
 'Data Scientist - Engine Algorithm',
 'Data Scientist',
 'Data Scientist']

In [379]:
# 4)phython program to Scrape data of first 100 sunglasses listings on flipkart.com.

In [156]:
# let's first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [157]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.by import By
import time

In [158]:
!pip3 install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\anaconda\lib\site-packages (3.8.3)
Requirement already satisfied: python-dotenv in c:\anaconda\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from webdriver-manager) (4.62.3)
Requirement already satisfied: requests in c:\anaconda\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)

In [159]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [160]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [164]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [165]:
B_name=[]
Price_tag=[]
P_desc=[]
Discount=[]

In [166]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price_tag =driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price_tag:
        Price_tag.append(l.text)
    Price_tag[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [167]:
B_name[:100]

['AISLIN',
 'VINCENT CHASE',
 'New Specs',
 'PIRASO',
 'PHENOMENAL',
 'LIZA ANGEL',
 'SUNBEE',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'Sewell',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'Rich Club',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Roadster',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'SRPM',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'New Specs',
 'Singco India',
 'elegante',
 'CRYSTAL CART',
 'EYELLUSION',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'GANSTA',
 'LIZA ANGEL',
 'New Specs',
 'AISLIN',
 'VINCENT CHASE',
 'New Specs',
 'PIRASO',
 'PHENOMENAL',
 'LIZA ANGEL',
 'SUNBEE',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'Sewell',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'Rich Club',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Roadster',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'SRPM',
 'ROYAL SON',
 'PIRASO',
 'PIRASO',
 'New Specs',
 'New Specs',
 'Singco India',
 'elegante',
 'CRYSTAL CART',
 'EYELLUSION',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'GANSTA',
 'LIZA ANGEL',
 'New Specs',
 'AISLIN',
 'VINCENT CHASE',
 'New Specs',
 'PIRASO',
 'PHENOMENAL',
 'LIZA ANGEL',
 'SUNBEE',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'CRYSTAL CART',
 'Sewell',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'ROYAL SON',
 'Rich Club',
 'PIRASO']

In [168]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price_tag[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [169]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,AISLIN,"₹448₹1,52570% off","UV Protection, Gradient Cat-eye Sunglasses (58)",70% off
1,VINCENT CHASE,"₹1,049₹1,99947% off","by Lenskart Polarized, UV Protection Cat-eye S...",47% off
2,New Specs,"₹250₹2,59990% off",UV Protection Rectangular Sunglasses (Free Size),90% off
3,PIRASO,"₹209₹1,59986% off",UV Protection Aviator Sunglasses (54),86% off
4,PHENOMENAL,₹226₹99977% off,UV Protection Retro Square Sunglasses (53),77% off
...,...,...,...,...
95,PIRASO,₹189₹99981% off,UV Protection Aviator Sunglasses (54),86% off
96,PIRASO,"₹268₹1,29979% off",UV Protection Rectangular Sunglasses (52),84% off
97,ROYAL SON,"₹699₹1,99965% off","UV Protection, Polarized Round Sunglasses (54)",73% off
98,Rich Club,"₹185₹1,69989% off",UV Protection Retro Square Sunglasses (54),57% off
99,PIRASO,₹639₹79920% off,UV Protection Aviator Sunglasses (58),89% off

In [380]:
# 5)Phython program to Scrape 100 reviews data from flipkart.com for iphone11 phone

In [170]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [171]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('iphone11')

In [172]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [174]:
open=driver.find_element(By.CLASS_NAME,"_4rR01T")
open.click()

In [175]:
rating_s=[]
review_summary=[]
full_review=[]

In [ ]:
rating_s= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/div[4]/div[3]/div/div/div[1]/div')
for i in rating_s[0:10]:
 rating =i.text
rating_s.append(rating)

In [ ]:
review_summary= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_summary[0:10]:
 review =i.text
review_summary.append(review)

In [ ]:
full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in full_review[0:10]:
 fullreview =i.text
full_review.append(fullreview)

In [ ]:
print(len(rating_s),len(review_summary),len(full_review))

In [ ]:
df=pd.DataFrame({})
df['Rating']=rating_s[:10]
df['Reviews']=review_summary[:10]
df['Full review']=full_review[:10]

In [381]:
# 6)phython program to Scrape data for first 100 sneakers you find when you visit flipkart.com

In [185]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [186]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

In [188]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [189]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [190]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price =driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [191]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [192]:
sneaker_s=pd.DataFrame({})
sneaker_s['Brand_name']=B_name[:100]
sneaker_s['P_price']=Price[:100]
sneaker_s['Pr_desc']=P_desc[:100]
sneaker_s['P_discount']=Discount[:100]

In [193]:
sneaker_s

,Brand_name,P_price,Pr_desc,P_discount
0,Echor,"₹497₹1,49966% off",Sneakers For Men,66% off
1,Hida,₹551₹99944% off,Sneakers For Men,44% off
2,Shozie,₹389₹99961% off,Super Stylish & Trendy Combo Pack of 02 Pairs ...,61% off
3,Chevit,"₹629₹1,89866% off",Sneakers For Men,66% off
4,aadi,₹279₹99972% off,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,72% off
...,...,...,...,...
95,Shozie,₹179₹59970% off,Comfortable Premium Stylish Unique Trendy Popu...,65% off
96,Deals4you,₹424₹99957% off,SS1100 Sneakers For Men,70% off
97,kardam&sons,₹540₹99945% off,Sneakers For Men,69% off
98,Magnolia,"₹299₹1,29976% off","Breathable, Walking, Running, Casual, Gym Shoe...",60% off
99,SCATCHITE,₹540₹99945% off,supr Sneakers For Men,63% off

In [382]:
# 7)phython program to scrape the data from  https://www.myntra.com/shoes

In [194]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.myntra.com/shoes")

In [195]:
# appplying the price filter
filter_button=driver.find_elements(By.XPATH,'//label[@class="common-customerCheckbox vertical-filters-label"]')
for i in filter_button:
    if i.text=="Rs. 6649 to Rs. 13099":
        i.click()
        break

In [196]:
#Applying the black colur filter
filter_button=driver.find_elements(By.XPATH,'//li[@class="colour-listItem"]')
for i in filter_button:
    if i.text=="Black":
        i.click()
        break

In [197]:
B_name=[]
Price=[]
P_desc=[]

In [198]:
for i in range(2):
    b_name=driver.find_elements(By.XPATH,'//h1[@class="pdp-title"]')
    p_desc=driver.find_elements(By.XPATH,'//h1[@class="name"]')
    price =driver.find_elements(By.XPATH,'//div[@class="product-price"]')
 
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100]

In [199]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

0
100
0

(None, None, None)

In [383]:
# 8)phython program to scrape data from https://www.amazon.in/

In [200]:
# let's first install the selenium library
! pip install selenium

Requirement already satisfied: selenium in c:\anaconda\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\anaconda\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\anaconda\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\anaconda\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [201]:
# Let's now import all the required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.common.by import By
import time

In [202]:
!pip3 install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\anaconda\lib\site-packages (3.8.3)
Requirement already satisfied: requests in c:\anaconda\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: python-dotenv in c:\anaconda\lib\site-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from webdriver-manager) (4.62.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from tqdm->webdriver-manager) (0.4.4)

In [232]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.amazon.in/")

In [233]:
# finding element for job search bar
search_g= driver.find_element(By.XPATH,'//input[@type="text"]')
search_g

In [234]:
# write on search bar
search_g.send_keys('Laptop')

In [235]:
search_btn=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_btn

In [236]:
search_btn=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_btn.click()

In [237]:
cpu_type=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/span")
cpu_type.click()

In [269]:
Title=[]
Price=[]
Rating=[]

In [272]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in title_tags[0:10]:
 title = i.text
 Title.append(title)

In [273]:
price_tags=driver.find_elements(By.XPATH,'//a[@class="a-size-base a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
for i in price_tags[0:10]:
 price = i.text
 Price.append(price)

In [274]:
print(len(Price),len(Title))

10 10

In [277]:
df=pd.DataFrame({})
df['Title & rating']=Title[:10]
df['Price']=Price[:10]

In [278]:
df

                                      Title & rating                 Price
0  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    ₹82,990\n₹1,20,990
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    ₹80,790\n₹1,24,990
2  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    ₹94,990\n₹1,45,800
3  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    ₹82,990\n₹1,00,990
4  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...      ₹29,998\n₹40,000
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...      ₹58,990\n₹80,990
6  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  ₹1,09,990\n₹1,44,990
7  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    ₹72,990\n₹1,02,900
8  HP Victus 11th Gen Intel Core i7-11800H 16.1" ...  ₹1,01,490\n₹1,25,143
9  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...      ₹85,990\n₹95,900

In [384]:
# 9)python program to scrape data for first 10 job results for Data Scientist Designation in Noida location

In [333]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.ambitionbox.com/')

In [334]:
jobs=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a')
jobs.click()

In [336]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys('Data scientist')

In [337]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [338]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [339]:
select=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/label')
select.click()

In [362]:
job_title=[]
job_location=[]
job_posted=[]

In [363]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in  title_tags[0:10]:
 title = i.text
 job_title.append(title)

In [364]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="entity loc"]')
for i in  location_tags[0:10]:
 location = i.text
 job_location.append(location)

In [368]:
job_posted=driver.find_elements(By.XPATH,'//p[@class="review-count caption-strong-medium"]')
for i in  job_posted[0:10]:
 job = i.text
 job_posted.append(job)

In [370]:
print(len(job_title),len(job_location),)

10 10

In [374]:
df=pd.DataFrame({})
df['Company Details']=job_title[:10]
df['location']=job_location[:10]

In [375]:
df

,Company Details,location
0,Optum Global Solutions (India) Private Limited...,Noida
1,Optum Global Solutions (India) Private Limited...,Noida
2,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED...,Noida
3,EY GDS\n3.8\n(5.9k Reviews),"Gurgaon/Gurugram, Noida, Bengaluru/Bangalore"
4,GLOBALLOGIC INDIA PRIVATE LIMITED\n4.0\n(2.1k ...,"Nagpur, Bengaluru/Bangalore, Noida"
5,CBRE South Asia Pvt Ltd\n4.3\n(2.4k Reviews),"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida"
6,GENPACT India Private Limited\n4.0\n(20.2k Rev...,Noida
7,Genpact\n4.0\n(20.2k Reviews),Noida
8,Ericsson India Global Services Pvt. Ltd.\n4.3\...,Noida
9,Dew Solutions Pvt. Ltd.\n4.3\n(83 Reviews),"Gurgaon/Gurugram, Bengaluru/Bangalore, Pune +2..."

In [386]:
#10)python program to scrape the salary data for Data Scientist designation
#Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [387]:
# let's first connect to the web driver
driver =webdriver.Chrome(r"C:\Users\Praveen kumar\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.ambitionbox.com/')

In [391]:
salaries=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
salaries.click()

In [393]:
Browse_salaries=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/p')
Browse_salaries.click()

In [406]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')

In [413]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]')
search.click()

In [414]:
company_info=[]
min_salary=[]
max_salary=[]
avg_salary=[]

In [ ]:
for i in range(3):
    company_info=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[1]/div/div/a"]')
    min_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[1]')
    max_salary =driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[2]/div[2]')
    avg_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[3]/div[2]/div[1]/div[2]/div/div[1]/div/p')
    
    for j  in company_info:
        company_info.append(j.text)
    company_info[:100]    
    
    
    
    for k in min_salary:
        min_salary.append(k.text)
    min_salary[:100] 
    
    
    for l in max_salary:
        max_salary.append(l.text)
    max_salary[:100] 
    
    
    for t in avg_salary:
        avg_salary.append(t.text)
    avg_salary[:100]